@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.about-page-container {
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f1f1f1;
}

.about-page-container h2 {
    text-align: center;
    font-weight: 700 !important;
    color: #111;
    margin: 10px;
    font-size: 2.5rem;
    font-family: "Poppins";
}


/* .about-page-container h2::after {
    content: "---------";
} */

.about-page-container .description {
    text-align: center;
    background: #fdfdfd;
    /* padding: 20px; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    color: rgb(10, 60, 110) !important;
    opacity: 0;
    transition: 1s ease-in;
}

.about-page-container img {
    /* width: 100%; */
    width: 100%;
    padding: 20px;
    /* margin-bottom: 20px; */
}

.about-page-container .col-sm-4 {
    display: flex;
    align-items: center;
}

.about-page-container .col-sm-8 {
    display: flex;
    align-items: center;
}

.about-page-container .description.show {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400 !important;
    color: #D90429;
    opacity: 1;
}