.specification-container h3 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.specification-container img {
    width: 30%;
}

.specification-container {
    top: 0px !important;
}

.specification-container div {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

hr.hr-4 {
    padding: 0;
    border: none;
    border-top: medium double #111;
    color: #8c8c8c;
    text-align: center;
}

hr.hr-4:after {
    content: "\2699";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 3.5em;
    z-index: -1;
    padding: 0 0.25em;
    background: #fff;
}