/* Generals resets and unimportant stuff */

.products-container * {
    box-sizing: unset !important;
}

.wrapper.row {
    max-width: 100vw !important;
}


/* --- Product Card ---- */

.products-container #make-3D-space {
    position: relative;
    perspective: 800px;
    width: 340px;
    height: 440px;
    transform-style: preserve-3d;
    transition: transform 5s;
}

.products-container #product-card {
    width: 96%;
    height: 93%;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
    transform-style: preserve-3d;
    -webkit-transition: 100ms ease-out;
    -moz-transition: 100ms ease-out;
    -o-transition: 100ms ease-out;
    transition: 100ms ease-out;
}

.products-container #make-3D-space #product-card #product-front {
    width: 101%;
    height: 100%;
    background: #fff;
    position: absolute;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.products-container #product-card #product-front img {
    max-width: 100%;
    max-height: auto;
}

.products-container #product-bottom {
    width: 96%;
    height: 50px;
    background: #fff;
    position: absolute;
    left: 10px;
    top: 370px;
}

.products-container #product-bottom-card {
    position: absolute;
    left: 20%;
    top: 30px;
}

.products-container .btn--primary {
    background-color: #48daa1;
    margin-left: 4px !important;
    border-radius: 0 !important;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.products-container .btn--primary:hover {
    background: #fff;
    color: #48cfad;
    border: 2px solid #48daa1;
    cursor: pointer;
}

.products-container #product-card.animate #product-front {
    top: 0px;
    left: 0px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

.products-container #product-card.animate {
    top: 5px;
    left: 5px;
    width: 335px;
    height: 430px;
    box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 100ms ease-out;
    -moz-transition: 100ms ease-out;
    -o-transition: 100ms ease-out;
    transition: 100ms ease-out;
}

.products-container .stats-container {
    background: #fff;
    position: absolute;
    top: 250px;
    left: 0;
    width: 275px;
    height: 300px;
    padding: 27px 35px 35px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.products-container #product-card.animate .stats-container {
    top: 170px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.products-container .stats-container .product_name {
    font-size: 20px;
    color: #393c45;
}

.products-container .stats-container p {
    font-size: 16px;
    color: #b1b1b3;
    padding: 2px 0 20px 0;
}

.products-container .stats-container .product_price {
    float: right;
    color: #48cfad;
    font-size: 20px;
    font-weight: 600;
}

.products-container .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #48daa1;
    opacity: 0;
}

.products-container #product-card.animate .image_overlay {
    opacity: 0.7;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.products-container .product-options ul {
    padding: 0px !important;
}

.products-container .product-options ul li {
    list-style: none;
    font-size: 1.5rem !important;
    color: gray !important;
}

.products-container #view_details {
    position: absolute;
    top: 112px;
    left: 50%;
    margin-left: -85px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    width: 172px;
    opacity: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.products-container #view_details:hover {
    background: #fff;
    color: #48cfad;
    cursor: pointer;
}

.products-container #view_details a {
    color: #fff;
    text-decoration: none;
}

.products-container #view_details:hover a,
.products-container #view_details a:hover {
    color: #48cfad;
    text-decoration: none;
}

.products-container #product-card.animate #view_details {
    opacity: 1;
    width: 152px;
    font-size: 15px;
    margin-left: -75px;
    top: 115px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.products-container div.shadow {
    width: 335px;
    height: 520px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    background: -webkit-linear-gradient( left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: -o-linear-gradient( right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient( right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: linear-gradient( to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

@media(max-width: 580px) {
    .products-container #make-3D-space {
        height: 400px;
    }
    .products-container .stats-container {
        top: 190px;
    }
    .products-container #product-bottom {
        top: 330px;
    }
}