.products-container {
    /* position: relative; */
    max-width: 100vw !important;
    overflow-x: hidden;
    height: auto;
    background-image: url("https://images.unsplash.com/photo-1521078803125-7efd09b65b8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    padding-bottom: 40px;
    background-color: #2b060c !important;
    background-blend-mode: multiply;
    background-size: contain;
    background-position: center;
}

.products-container .sale-banner {
    background: #d90429;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    color: #fdfdfd;
}

.products-container .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products-container h1 {
    color: White;
    text-align: center;
    padding: 50px 0;
    font-size: 3.5rem;
    font-weight: 700;
    margin: auto;
}

.products-container nav {
    background: transparent !important;
}

.products-container ul li button {
    background: transparent;
    color: #48cfad;
    border: 1px solid #48cfad;
    font-weight: 900;
    font-size: 1.7rem !important;
}

.products-container ul li button:focus {
    background-color: #108f6f;
    color: white;
}


/* Filter */

.products-container .filter {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.products-container .filter-options {
    margin: 5px 10px;
    color: #108f6f;
    padding: 2px 10px;
    background-color: transparent;
    font-size: 1.6rem !important;
    font-weight: 600;
    border: 1px solid #108f6f;
    border-radius: 5%;
}

.products-container .filter-options:hover,
.products-container .filter-options:focus {
    background-color: #108f6f;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: 400;
}


/* s */


/* Add to cart GIF */

.add-to-cart-gif img.visible {
    opacity: 1;
}

.add-to-cart-gif img {
    width: 20vw;
    border-radius: 30px;
    opacity: 0;
    transition: 2.3s ease;
}

.add-to-cart-gif {
    width: 100%;
    position: fixed;
    top: 30vh;
    text-align: center;
    z-index: 1000;
}

@media (max-width: 1000px) {
    .add-to-cart-gif img {
        width: 30vw;
        border-radius: 30px;
    }
}

@media (max-width: 700px) {
    .add-to-cart-gif img {
        width: 30vw;
        border-radius: 30px;
    }
    .add-to-cart-gif {
        top: 40vh;
    }
}

@media (max-width: 500px) {
    .add-to-cart-gif img {
        width: 50vw;
        border-radius: 30px;
    }
    .add-to-cart-gif {
        top: 40vh;
    }
}