.order-page-container {
    min-height: 70vh;
}

.order-page-container .col-sm-4 {
    position: relative !important;
    margin-top: 7% !important;
}

.order-page-container form {
    /* transform: scale(1.2); */
}

.order-page-container .products {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 50px;
    /* background-color: #f1f1f1; */
    margin-top: 80px;
}

.order-page-container .products .product {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    border-bottom: 1px solid #f1f1f1;
    /* background-color: red; */
}

.order-page-container .products .product h3:nth-child(1) {
    /* color: rgba(30, 143, 255, 0.712); */
    /* color: red; */
    font-weight: 500;
    font-size: 2.2rem;
    /* background-color: red; */
}

.order-page-container .products .product h6 {
    /* color: rgba(30, 143, 255, 0.712); */
    /* color: red; */
    color: red;
    font-weight: 600;
    /* font-size: 2.2rem; */
    /* background-color: red; */
}

.order-page-container .products h2 {
    text-align: center;
    color: #112 !important;
    font-weight: 600;
    background-color: rgba(30, 143, 255, 0.116);
    padding: 20px;
    /* color: #fff !important; */
    border-radius: 20px;
}

.order-page-container .products .product img {
    border-radius: 10px;
    width: 130px;
    padding-bottom: 20px;
    margin: 20px;
}

.transac-buttons {
    text-align: center;
}

.transac-buttons button {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
}

.transac-buttons button:nth-child(1) {
    background-color: #d90427cc;
    color: #fff;
    font-weight: 800;
}

.transac-buttons button:nth-child(2) {
    background-color: rgb(13, 115, 218);
    color: #fff;
    font-weight: 800;
}

.billingbutton {
    text-align: center;
    margin: 20px auto;
    font-size: 2rem !important;
}

.order-page-container .modal-content {
    width: 100% !important;
    background-image: url("https://www.dealnloot.com/wp-content/uploads/2018/03/paytm-offer.jpg");
    background-position: center;
    background-blend-mode: multiply;
    border-radius: 20px;
    /* background-color: rgba(17, 17, 34, 0.411); */
    background-repeat: no-repeat;
}

.card {
    opacity: 0.9;
}

button.payment-modal:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666 !important;
}


/* button.payment-modal:disabled::after {
    content: '----------';
    position: absolute;
    left: 10px;
} */


/* ----------------------------------- */

.billingbutton button {
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    background-color: #f1f1f1;
    font-family: sans-serif;
    color: #111;
}